body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
}

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  /* background-color: #2196f3; */
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  /* background-color: #2196f3; */
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.flex-item {
  font-size: 30px;
  padding: 0px 5px 0px 5px;
  text-align: center;
}

.flex-item .logout {
  align-self: end;
}

* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #2b2d2f;
}

/* Navbar links */
.topnav .menu-links {
  float: left;
  display: flex;
  flex-flow: row wrap;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .menu-links button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2b2d2f;
  color: #dddddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .menu-links button:hover {
  background: #dddddd;
  color: #2b2d2f;
}

/* Style the input container */
.topnav .login-container {
  float: right;
  padding-bottom: 5px;
}

/* Style the input field inside the navbar */
.topnav input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

@media only screen and (max-width: 600px) {
  .topnav .login-container {
    float: left;
    padding-bottom: 10px;
  }

  .topnav .login-container button {
    float: left;
  }

  .topnav .login-container {
    padding-left: 5px;
  }
}